private
*.swp
designs/leon3-digilent-zybo-z720/alibs.do
designs/leon3-digilent-zybo-z720/cds.lib
designs/leon3-digilent-zybo-z720/compile.asim
designs/leon3-digilent-zybo-z720/compile.dc
designs/leon3-digilent-zybo-z720/compile.ncsim
designs/leon3-digilent-zybo-z720/compile.rc
designs/leon3-digilent-zybo-z720/compile.simv
designs/leon3-digilent-zybo-z720/compile.synp
designs/leon3-digilent-zybo-z720/compile.vsim
designs/leon3-digilent-zybo-z720/compile.xst
designs/leon3-digilent-zybo-z720/fmref.tcl
designs/leon3-digilent-zybo-z720/ghdl.path
designs/leon3-digilent-zybo-z720/hdl.var
designs/leon3-digilent-zybo-z720/leon3mp.bit
designs/leon3-digilent-zybo-z720/leon3mp.lct
designs/leon3-digilent-zybo-z720/leon3mp.ldf
designs/leon3-digilent-zybo-z720/leon3mp.msk
designs/leon3-digilent-zybo-z720/leon3mp.npl
designs/leon3-digilent-zybo-z720/leon3mp.syn
designs/leon3-digilent-zybo-z720/leon3mp.xise
designs/leon3-digilent-zybo-z720/leon3mp_designer.tcl
designs/leon3-digilent-zybo-z720/leon3mp_designer_act.tcl
designs/leon3-digilent-zybo-z720/leon3mp_files.prj
designs/leon3-digilent-zybo-z720/leon3mp_ise.tcl
designs/leon3-digilent-zybo-z720/leon3mp_precision.tcl
designs/leon3-digilent-zybo-z720/leon3mp_precrun.tcl
designs/leon3-digilent-zybo-z720/leon3mp_quartus.qpf
designs/leon3-digilent-zybo-z720/leon3mp_quartus.qsf
designs/leon3-digilent-zybo-z720/leon3mp_rtl_fpro.fl
designs/leon3-digilent-zybo-z720/leon3mp_synplify.npl
designs/leon3-digilent-zybo-z720/leon3mp_synplify.qpf
designs/leon3-digilent-zybo-z720/leon3mp_synplify.qsf
designs/leon3-digilent-zybo-z720/leon3mp_synplify_win32.npl
designs/leon3-digilent-zybo-z720/leon3mp_vivado.log
designs/leon3-digilent-zybo-z720/leon3mp_win32.npl
designs/leon3-digilent-zybo-z720/libs.do
designs/leon3-digilent-zybo-z720/libs.txt
designs/leon3-digilent-zybo-z720/make.asim
designs/leon3-digilent-zybo-z720/make.asim-addfile
designs/leon3-digilent-zybo-z720/make.ghdl
designs/leon3-digilent-zybo-z720/make.ncsim
designs/leon3-digilent-zybo-z720/make.riviera
designs/leon3-digilent-zybo-z720/make.simv
designs/leon3-digilent-zybo-z720/make.vsim
designs/leon3-digilent-zybo-z720/modelsim.ini
designs/leon3-digilent-zybo-z720/planahead/
designs/leon3-digilent-zybo-z720/riviera_ws_create.do
designs/leon3-digilent-zybo-z720/scriptgen_variable_values.tcl
designs/leon3-digilent-zybo-z720/scriptgendone
designs/leon3-digilent-zybo-z720/scriptgenwork/
designs/leon3-digilent-zybo-z720/synopsys_sim.setup
designs/leon3-digilent-zybo-z720/testbench.mpf
designs/leon3-digilent-zybo-z720/vcs_libs
designs/leon3-digilent-zybo-z720/vivado.jou
designs/leon3-digilent-zybo-z720/vivado.log
designs/leon3-digilent-zybo-z720/vivado/

